#header {
  position: fixed;
  z-index: 2;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 120;
  justify-content: center;
  background-color: hsl(227, 10%, 10%, 0.9);
}

#title {
  width: 20%;
  left: 40%;
}

.pos_center {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em 0;
  margin: 0;
  text-align: center;
}

#title-text {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  color: #E84E50;
}

#title-icon {
  width: 80px;
  height: 100px;
}

#left-side {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 40vh;
  height: 100%;
  background-color: hsl(227, 10%, 10%);
  padding-top: 150px;
}

#right-side {
  position: fixed;
  z-index: 1;
  right: 0%;
  top: 0%;
  width: 40vh;
  height: 100%;
  background-color: hsl(227, 10%, 10%);
  padding-top: 150px;
}

#middle {
  position: absolute;
  z-index: 1;
  top: 0%;
  min-height: 120%;
  left: 40vh;
  width: calc(100vw - 80vh);
  background-color: hsl(227, 10%, 10%);
  padding-top: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#settings {
  position: absolute;
  top: 35px;
  width: 40px;
  right: 70px;
  height: 40px;
  padding: 0px;
}

#settingImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#dropdownMenuButton {
  margin: 0%;
}

#settingImg:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.1s ease;
}

#taglines {
  position: relative;
  width: auto;
  padding-top: 90px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #A6A6A6;
}

#tomatoType {
  position: relative;
  width: calc(60% - 1px);
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  top: 1px;
  border-width: 0;
  border-radius: 6px 6px 0 0;
  height: 30px;
}

#publishSection {
  position: relative;
  width: calc(60% - 1px);
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #FEFFFF;
  top: 0;
  height: 35px;
  border-color: #ff0004;
  border-style: dotted;
}

#processNotesSec {
  position: relative;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  top: 31px;
  height: 35px;
  width: 180px;
  ;
}

#publishCheckBox {
  position: absolute;
  right: 100px;
  top: 8px;
  background-color: #86C232;
}

#saveBtn {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  background-color: #DEF2F1;
}

#disgardBtn {
  position: absolute;
  left: 10px;
  border-radius: 5px;
  background-color: #DEF2F1;
}

#startBtnSec {
  position: relative;
  height: 45;
  top: 35px;
}

#startBtn {
  position: relative;
  left: 27.5%;
  width: 45%;
  height: 89%;
}

#checkboxLbl {
  position: absolute;
  right: 120px;
  top: 5px;
}

#processNotesLbl {
  color: red;
  font-size: 0.8em;
}

hr {
  position: relative;
  color: #D9D9D9;
  height: 1px;
  width: 60%;
  top: 50px;
  left: 20%;
  border-top: 0.5px solid #D9D9D9;
  border-bottom: 0.5px solid #D9D9D9;
}

.split {
  left: 20%;
  right: 20%;
}

.circlebarCD {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
  left: 25%;
}

#coolDownModalTitle {
  margin-bottom: 0%;
  position: relative;
  width: 50%;
  left: 25%;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}


.float-container {
  position: absolute;
  padding-right: 0;
  width: 350px;
  justify-content: center;
  text-align: center;
  height: 100px;
  left: calc(50% - 175px);
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#musicCollapse {
  position: fixed;
  bottom: 69px;
  right: 114px;
  z-index: 10;
  width: 200px;
}

#note1 {
  background-color: #FEFFFF;
  border-radius: 6px;
}

#noteLable {
  position: relative;
  left: 20px;
  top: 11px;
}

#noteTime {
  position: relative;
  top: 8px;
  left: 24px;
  font-size: 0.65em;
}

#noteType {
  position: absolute;
  right: 48px;
  top: 8px;
  border-radius: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e7e7e7;
}

#noteText {
  position: relative;
  padding-top: 10px;
  padding-left: 55px;
  padding-bottom: 30px;
}

#noteLikeBtn {
  position: relative;
  width: 50px;
  height: 25px;
  left: calc(50% - 25px);
}

#likeCnt {
  position: absolute;
  width: 50px;
  height: 35px;
  left: 50%;
}

#notesSec {
  position: relative;
  top: 20px;
  width: 60%;
  padding: 0%;
}

#noteAvatar {
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

#noteStatus {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.noteCard {
  position: relative;
  top: 20px;
  background-color: #FEFFFF;
  margin-top: 40px;
  border-radius: 6px;
}

#todaySummarySec {
  position: relative;

}

#todayTomatoLbl {
  position: relative;
  color: #FEFFFF;
  top: 60px;
  text-align: center;
  left: calc(50% - 75px);
}