#header {
  position: fixed;
  z-index: 2;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 80px;
  justify-content: center;
  background-color: hsl(227, 10%, 10%, 0.9);
}

#title {
  width: 20%;
  left: 40%;
}

.pos_center {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em 0;
  margin: 0;
  text-align: center;
}

#title-text {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  color: #E84E50;
}

#title-icon {
  width: 80px;
  height: 100px;
}

#left-side {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: calc(25% + 1px);
  height: 100%;
  background-color: hsl(227, 10%, 10%);
  padding-top: 90px;
}

#right-side {
  position: absolute;
  z-index: 1;
  right: 0%;
  top: 0%;
  width: calc(30% + 1px);
  height: 100%;
  background-color: hsl(227, 10%, 10%);
  padding-top: 90px;
  min-height: 120%;
  overflow-x: hidden;
  padding-left: 3%;
  padding-right: 3%;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  width: 36%;
  display: block;
  left: 32%;
  position: relative;
}

#middle {
  position: fixed;
  z-index: 1;
  top: 0%;
  min-height: 120%;
  left: 25%;
  width: 45%;
  background-color: hsl(227, 10%, 10%);
  padding-top: 80px;

}

#settings {
  position: absolute;
  top: 17px;
  width: 40px;
  right: 70px;
  height: 40px;
  padding: 0px;
}

#settingImg {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#dropdownMenuButton {
  margin: 0%;
}

#shareSpan {
  right: calc(15% + 15px);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

#settingImg:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.1s ease;
}

#tomatoType {
  position: relative;
  width: calc(60% - 2px);
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  top: 1px;
  border-width: 0;
  border-radius: 6px 6px 0 0;
  height: 30px;
  left: calc(20% + 1px);
}

#EditTomatoType {
  position: relative;
  width: 60%;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  top: 1px;
  border-width: 1px;
  border-radius: 6px 6px 0 0;
  height: 30px;
  left: 20%;
}

.noteType {
  position: relative;
  left: 52px;
  top: 2px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: auto;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.notehis {}

#deleteNoteBtn {
  position: relative;
  left: 5px;
  color: red;
  width: 16%;
  border-width: 0px;
  background-color: transparent;
}

#publishNoteBtn {
  position: relative;
  width: auto;
  left: 24.5%;
  color: #7B78FC;
  border-width: 1px;
  border-color: #7B78FC;
  border-style: solid;
  background-color: transparent;
}

#saveNoteBtn {
  position: absolute;
  right: 5px;
  width: 20%;
  color: #7B78FC;
  background-color: transparent;
  border-width: 0px;
}

#publishSection {
  position: relative;
  width: calc(60% - 2px);
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #FEFFFF;
  top: 0;
  height: 25px;
  border-radius: 0 0 6px 6px;
}

#EditpublishSection {
  position: relative;
  width: calc(60% - 2px);
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #FEFFFF;
  top: 0;
  height: 25px;
  border-radius: 0 0 6px 6px;
}

#processNotesSec {
  position: relative;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  top: 31px;
  height: 35px;
  width: 180px;
  ;
}

#publishCheckBox {
  position: absolute;
  right: 100px;
  top: 8px;
  background-color: #86C232;
}

#heading-text-icon {
  position: absolute;
  left: 2%;
}

#saveBtn {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  background-color: #DEF2F1;
  top: 5px;
}


#composingSec {
  position: relative;
}

#startBtnSec {
  position: relative;
  height: 60px;
  top: 20px;
  right: 20px;
  left: 0px;
  width: 50%;
}

#startBtn {
  position: relative;
  left: 27.5%;
  width: 45%;
  height: 80%;
}

#SimpleStartBtnSec {
  position: relative;
  height: 60px;
  top: 20px;
  right: 20px;
  left: 0px;
  width: 50%;
}

#SimpleStartBtn {
  position: relative;
  left: 27.5%;
  width: 45%;
}

h #checkboxLbl {
  position: absolute;
  right: 120px;
  top: 5px;
}

hr {
  position: relative;
  color: #D9D9D9;
  height: 1px;
  width: 60%;
  top: 15px;
  border-top: 0.5px solid #D9D9D9;
  border-bottom: 0.5px solid #D9D9D9;
}

#addAnote {}

.split {
  left: 0%;
  width: 100%;
  position: relative;
}

#circlebarId {
  width: 40%;
  height: calc(40vw * 0.4);
}

.circlebarCD {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
  left: 25%;
}

.circlebarCD2 {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
  left: 25%;
}

#coolDownModalTitle {
  margin-bottom: 0%;
  position: relative;
  width: 50%;
  left: 25%;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}


.float-container {
  position: absolute;
  padding-right: 0;
  width: 350px;
  justify-content: center;
  text-align: center;
  height: 100px;
  left: calc(50% - 175px);
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#musicCollapse {
  position: relative;
  z-index: 10;
  height: 65px;
  top: 105px;
}

#note1 {
  background-color: #FEFFFF;
  border-radius: 6px;
}

#noteLable {
  position: relative;
  left: 20px;
  top: 5px;
}

#noteTime {
  position: relative;
  top: 8px;
  left: 24px;
  font-size: 0.65em;
}

#noteType {
  position: relative;
  top: 8px;
  border-radius: 13px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e7e7e7;
  width: auto;
  left: 50px;
}

#noteText {
  position: relative;
  padding-top: 10px;
  padding-left: 55px;
  padding-right: 30px;
  padding-bottom: 10px;
}

#noteLikeBtn {
  position: relative;
  width: 50px;
  height: 25px;
  left: calc(50% - 50px);
}

.pubpriImg {
  position: relative;
  width: 18px;
  height: 18px;
  left: 20px;
  bottom: 0px;
}

.pubNoteLikeCnt {
  position: absolute;
  width: 50px;
  height: 35px;
  left: 50%;
  bottom: -12px;
}

.pubNoteLikeBtn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.1s ease;
}

#likeCnt {
  position: absolute;
  width: 50px;
  height: 35px;
  left: 50%;
  bottom: -12px;
}


#notesSec {
  position: relative;
  top: 0px;
  width: 100%;
  padding: 0%;
}

#pubNotesSec {
  position: relative;
  top: 0px;
  width: 100%;
  padding: 0%;
}

.pubNoteLikeBtn {
  position: relative;
  width: 50px;
  height: 25px;
  left: calc(50% - 25px);
}

#noteAvatar {
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

#noteStatus {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.noteCard {
  position: relative;
  top: 20px;
  background-color: rgb(114, 127, 132);
  margin-top: 40px;
  border-radius: 18px;
}

#todaySummarySec {
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
}

#todayTomatoLbl {
  position: relative;
  color: #FEFFFF;
  top: 0px;
  font-size: 15px;
  background-color: #7B78FC;
  padding: 10px;
  border-radius: 5px;
}

#todayDiv {
  padding-left: 15%;
  padding-right: 15%;
}

#todayTmtRow {
  background-color: #3D4D54;
  border-radius: 5px;
}

.nothing {
  color: #A6A6A6;
}

#todayTmtId {
  position: relative;
  top: 20px;
  left: 0px;
  padding: 0px;
}

#todayTmtImgId {
  position: relative;
  left: 5px;
  top: 5px;
}

#myUL {
  position: relative;
  top: 17px;
}

#ggLogin1 {
  position: fixed;
  right: 30px;
  width: 200px;
  height: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
  margin: 0px;
}

#container {
  position: relative;
  margin: auto;
  width: 60%;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}