.help-tip{
    position: absolute;
    top: 5px;
    right: 20px;
    text-align: center;
    background-color: #1b1c1d;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s/* Styles go here */

    
    .help {
        text-align: right;
        display: block;
    }
    .tip-txt {
        width: 145px;
        position: absolute;
        display: block;
        background: #333;
        padding: 10px;
        font-size: 12px;
        border-radius: 3px;
        color: #fff;
        transition: .5s ease-in-out;
        box-sizing: border-box;
        text-align: left;
    }
    .fa {
        font-size: 16px;
        transition: .5s ease-in-out;
    }
    .help:hover .tip-txt { 
        display: none;
        color: red;
    } ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #111213;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

th {
    position: relative;
}

td {
    position: relative;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}