.loader-bg {
  border-color: #E2E2E2;
}

.text {
  /* color: #0090CE !important; */
  color: white !important;
  font-weight: bold;
  font-size: 40px;
}

.loader-spinner {
  border-color: #90ECB6;
  border-width: 10px;
}

.cd-spinner {
  border-color: #0090CE;
  border-width: 10px;
}