.loader-bg {
  border-color: #90ECB6;
}

.loader-bg-cd {
  border-color: #ddf0e5;
  border-width: 10px;
}

.text {
  /* color: #0090CE !important; */
  color: white !important;
  font-weight: bold;
  font-size: 40px;
}

.cd-text {
  /* color: #0090CE !important; */
  color: #0090CE;
  font-weight: bold;
  font-size: 40px;
}

.loader-spinner {
  border-color: #4F4F4F;
  border-width: 10px;
}

.cd-spinner {
  border-color: #0090CE;
  border-width: 10px;
}