#todoDivId {
    color: black;
    padding-top: 85px;
    padding-left: 15%;
    padding-right: 15%;
}

#todoDiv {
    top: 15px;
    position: relative;
}

#todoLabel {
    position: relative;
    color: #FEFFFF;
    top: 0px;
    left: 0%;
    font-size: 15px;
    background-color: #7B78FC;
    padding: 10px;
    border-radius: 5px;
}

#todoInput {
    left: 0px;
    height: 35px;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    width: 100%;
}

#inputDivId {
    padding-left: 0px;
    padding-right: 0px;
}

.editBtn {
    position: absolute;
    bottom: 0px;
    right: 12px;
}

.editBtn:hover {
    background-color: hsl(227deg 64% 56%);
}

/* Style the "Add" button */
.addBtn {
    position: absolute;
    top: 8px;
    right: 5px;
}

.addBtn:hover {
    background-color: hsl(227deg 64% 56%);
}


/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 5px 8px 5px 40px;
    list-style-type: none;
    color: rgb(206, 206, 206);
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #3D4D54;
    border-radius: 10px;
    top: 15px;
    margin-bottom: 10px;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #3D4D54;
    width: 100%;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #394385;
    color: #fff;
    text-decoration: line-through;
    width: 100%;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 16px;
    transform: rotate(45deg);
    width: 7px;
    bottom: 5px;
}

/* Style the close button */
.closeTodo {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 16px 12px 16px;
    height: 100%;
}

.closeTodo:hover {
    background-color: #f44336;
    color: white;
}