<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Online Pomodoro Timer - eTomato note, stats and music </title>
  <meta name="description" content="eTomato is an online pomodoro timer integrated with notepad and lofi music - providing an efficient vibe to boost your study and work. See your study stats and evaluate your time spent. Check out fellow’s notes and inspire each other.">
  <link rel="shortcut icon" href="./public/image/tomato.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="./public/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/clock.css">
  <link rel="stylesheet" href="./public/fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="./public/fonts/typography-font/typo.css">
  <link rel="stylesheet" href="./public/fonts/fontawesome-5/css/all.css">
  <link rel="stylesheet" href="./public/css/scrolling_text.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./public/css/circle.css">
  <link rel="stylesheet" type="text/css" href="./public/css/demo.css">
  <link rel="stylesheet" type="text/css" href="./public/css/simplecircle.css">
  <link rel="stylesheet" href="./public/plugins/aos/aos.min.css">
  <link rel="stylesheet" href="./public/css/main.css">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css">
  <link type="text/css" rel="stylesheet" href="./public/css/music.css">
  <link href="./public/summernote/summernote.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./public/toast/themes/toasteur-default.min.css">
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';" onload="onLoad();">
  <div id="header">
    <div class="row position-relative justify-content-center">
      <div class="float-container">
        <div class="float-child" id="title-icon">
          <img src="./public/image/tomato.png" alt="">
        </div>
        <div class="float-child" id="title-text">eTomato</div>
      </div>

      <div id="taglines">
        <p>pomodoro timer | study stats | notes | lofi music</p>
      </div>

    </div>

    <div class="dropdown" id="settings">
      <a href="#" id="dropdownMenuButton" data-toggle="dropdown">
        <img id="settingImg" src="<%=profileUrl%>" width="40px" height="40px" alt="Avatar">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Stats</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>

  <div id="left-side">
    <div class="row justify-content-center">
      <div class="circlebar" data-circle-startTime=0 data-circle-dialWidth=20 data-circle-size="200px" data-circle-maxValue="1500" data-circle-skin="purple">
          <div class="loader-bg">
              <div class="text">00:00</div>
          </div>
      </div>
      <div id="startBtnSec">
        <a id="start_btn" style="background-color: transparent; border-width: 0px;" role="button" aria-expanded="false" aria-controls="collapseTimer">
          <img id="startBtn" alt="start_a_tomato" src="./public/image/start_tomato.png" width="340" height="35" onmouseover="startOver();" onmouseout="startOut();" onclick="ClickStartBtn();" ondblclick="ClickStartBtn();">
      </a>
      </div>
    </div>
    <hr class="split">
    <div>
      Today's tomatos:
    </div>
  </div>

  <div id="right-side">
    <div class="row position-relative justify-content-center">
      
      <div id="app-cover">
        <div id="player">
          <div id="player-track">
            <div id="album-name"></div>
            <div id="track-name"></div>
            <div id="track-time">
              <div id="current-time"></div>
              <div id="track-length"></div>
            </div>
            <div id="s-area">
              <div id="ins-time"></div>
              <div id="s-hover"></div>
              <div id="seek-bar"></div>
            </div>
          </div>
          <div id="player-content">
            <div id="album-art">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_A_Subtle_Reflection_Daniel_Kaede.jpeg?alt=media&token=60eed0ce-c372-4e69-bff5-0c5ee0bcb589" class="active" id="_1"> 
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Youth_Is_Wasted_On_The_Young_Chez%20Remix_Tellow.jpeg?alt=media&token=32fd9a79-e9aa-4490-9794-9773485f5d25" class="active" id="_2">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_The_Hours_dreem.jpeg?alt=media&token=79d32fdf-481d-4049-9e04-4eb13ddc204d" class="active" id="_3">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Spirals_Arden_Forest.jpeg?alt=media&token=76eee0d8-cafe-4e32-ad11-98c66bd8326e" class="active" id="_4">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Singing_Swan_Aleph_One.jpeg?alt=media&token=e11b9027-adfb-49a5-878d-f4f42f0b8d92" class="active" id="_5">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Silver_Rain_Emil_Axelsson.jpeg?alt=media&token=d2746de3-eebf-4177-942e-3acf6a5b385a" class="active" id="_6">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Satellite_of_Love_Brendon_Moeller.jpeg?alt=media&token=20f956a6-3bd1-492b-8c79-ea8848a2723e" class="active" id="_7">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_New_Jade_dreem.jpeg?alt=media&token=33607f99-5595-4fee-a8bf-b302a7225cb6" class="active" id="_8">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Neutra_Chelle_Ives.jpeg?alt=media&token=84669922-c237-4360-afef-bd3f72706773" class="active" id="_9">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Let_There_Be_Rain_Silver_Maple.jpeg?alt=media&token=789062a8-463e-40bb-ac05-bf60defeb0a2" class="active" id="_10">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Late_Arrivals_Lonov.jpeg?alt=media&token=fd73bd6c-11f1-4d39-b0fe-726ec39d26a5" class="active" id="_11">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Lakes_Harbours_Oceans.jpeg?alt=media&token=4cd8eee3-3d65-4bb7-ba89-ac70d50cc055" class="active" id="_12"> 
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Krotos_They_Dream_By_Day.jpeg?alt=media&token=7c8cc492-6879-44a0-b141-288beb60f720" class="active" id="_13">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Dreaming_Wide_Awake_King_Sis.jpeg?alt=media&token=bb2fabc1-edc0-4580-888b-539e2423b3d5" class="active" id="_14">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Copycat_Far_Orange.jpeg?alt=media&token=06dc4d42-caba-4822-8fcf-5374a5977226" class="active" id="_15">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Between_Illusions_Rikard_From.jpeg?alt=media&token=b342c953-932e-4e2e-aeb3-0878cc5d60d0" class="active" id="_16">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Baby_Idk_Rambutan.jpeg?alt=media&token=39785b51-9fc3-4b37-a23f-df73dcc84940" class="active" id="_17">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Avinam_Valante.jpeg?alt=media&token=183a9647-f304-485d-8422-c1a57ccd83a0" class="active" id="_18">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Alike_Jones_Meadow.jpeg?alt=media&token=56ad6c86-588d-493a-ad7d-a4f8c314a9e8" class="active" id="_19">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Abstractions_Aleph_One.jpeg?alt=media&token=8576a2cd-d593-42cc-bb3b-08fefd923518" class="active" id="_20">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_100_Times_Jones_Meadow.jpeg?alt=media&token=3506ed8f-e264-45e0-96c7-5837095261cb" class="active" id="_21">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_1.jpeg?alt=media&token=1bb7b4f7-f7aa-43c4-b6e7-8003fb40d8ec" class="active" id="_22">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_2.jpeg?alt=media&token=931388e5-a928-45b6-8db4-5f966559e512" id="_23">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_3.jpeg?alt=media&token=7d0fcad3-305e-47dc-a1e9-4aca3b0f43ef" id="_24">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_4.jpeg?alt=media&token=13826994-10ba-47f5-b3cf-668a9f544738" id="_25">
              <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_5.jpeg?alt=media&token=230fd83b-5cc7-4518-b0d4-a050813f60c2" id="_26">
              <div id="buffer-box">Buffering ...</div>
            </div>
            <div id="player-controls">
              <div class="control">
                <div class="button" id="play-previous">
                  <i class="fas fa-backward"></i>
                </div>
              </div>
              <div class="control">
                <div class="button" id="play-pause-button">
                  <i class="fas fa-play"></i>
                </div>
              </div>
              <div class="control">
                <div class="button" id="play-next">
                  <i class="fas fa-forward"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div id="middle">

    <div class="row position-relative justify-content-center">

      <input id="tomatoType" list="hosting-plan" placeholder="Give this tomato session a tag..." type="text">
      <datalist id="hosting-plan">
          <option value="Reading"/>
          <option value="Working"/>
          <option value="Workout"/>
      </datalist>

      <div id="summernote" class="position-relative justify-content-center"></div>
      <script>
        $(document).ready(function() {
            $('#summernote').summernote({
              placeholder: 'Ralph Ellison’s The Invisible Man: An extremely powerful story of a young Southern Negro ... ',
              tabsize: 2,
              toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['para', ['ul', 'ol']]
              ],
              height: 220,
              focus: true,
            }).on("summernote.enter", function(we, e) {
              $(this).summernote('pasteHTML', '<br>&VeryThinSpace;');
              e.preventDefault();
            });
        });
      </script>

      <div id="publishSection" hidden="true">
        <input type="checkbox" id="publishCheckBox" name="publishCheckBox">
        <label id="checkboxLbl" for="publishCheckBox">Publish to global</label>

        <button id="saveBtn" type="button">Save</button>

      </div>
    </div>

  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" onclick="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-area-l-12 position-relative" style="text-align:center;">
    </footer>
  </div>
  <!-- Vendor Scripts -->
  <script src="./public/js/vendor.min.js"></script>
  <script src="./public/plugins/aos/aos.min.js"></script>
  <script src="./public/plugins/menu/menu.js"></script>
  <!-- Activation Script -->
  <script src="./public/js/custom.js"></script>
  <script src="./public/js/clock.js"></script>

  <script>
    const firebaseConfig = {
        apiKey: "AIzaSyBe7BVBWqB6znKy7b_UND2nUd09nnUFmEQ",
        authDomain: "etomato-63aac.firebaseapp.com",
        databaseURL: "https://etomato-63aac-default-rtdb.firebaseio.com",
        projectId: "etomato-63aac",
        storageBucket: "etomato-63aac.appspot.com",
        messagingSenderId: "144378496941",
        appId: "1:144378496941:web:dc08de13472e73f14d0324",
        measurementId: "G-7W4Q6GF7JP"
      };
      try {
        firebase.initializeApp(firebaseConfig);
      } catch {
      }
  </script>
  <script>
    function onLoad() {
      firebase.analytics().logEvent('onLoad');
    }

    function startOver() {
      document.getElementById('startBtn').src = "./public/image/start_tomato_hover.png";
      var snd = new Audio("./public/sounds/start_over.mp3");
      snd.play();
      firebase.analytics().logEvent('startOver');
    }
    function startOut() {
      document.getElementById("startBtn").src = "./public/image/start_tomato.png";
      firebase.analytics().logEvent('startOut');
    }

    function ClickStartBtn() {
      document.getElementById("startBtn").src = "./public/image/start_tomato_pressed.png";
      var snd = new Audio("./public/sounds/start_clicked.mp3");
      snd.play();
      var btnVal = document.getElementById("startBtn").alt;
      if(btnVal == "start_a_tomato") {
        firebase.analytics().logEvent('ClickStartBtn'); 
        document.getElementById("startBtn").alt = "stop_a_tomato";
        $.ajax({
              url: "./startSession",
              type: "POST",
              success: function (result) {
                new Toasteur().success("Tomato started", 'Enjoy your time!', () => {});
              },
             error: function (error) {
              new Toasteur().error(error.responseText, 'Error!', () => {});
              },
            });
      } else {
        firebase.analytics().logEvent('ClickStopBtn'); 
      }
    }

    function logout() {
      firebase.analytics().logEvent('logout');
      fetch("./logout", {
        method: "GET",
      })
      .then(response => {
        window.location.href = "./";
      });
      sessionStorage.setItem("_session", "");
    }
  </script>

<script type="module" src="./public/js/music.js"></script>
<script src="./public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./public/toast/toasteur.min.js"></script>
<script src="./public/summernote/summernote.min.js"></script>
<script type="module" src="./public/js/circle.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</body>

</html>