<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>eTomato </title>
  <meta name="Pomodoro, Timer, online, eTomato" content="Pomodoro, Timer, online, eTomato">
  <link rel="shortcut icon" href="./public/image/tomato.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="./public/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/clock.css">
  <link rel="stylesheet" href="./public/fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="./public/fonts/typography-font/typo.css">
  <link rel="stylesheet" href="./public/fonts/fontawesome-5/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./public/css/circle.css">
  <link rel="stylesheet" type="text/css" href="./public/css/demo.css">
  <link rel="stylesheet" type="text/css" href="./public/css/simplecircle.css">
  <link rel="stylesheet" href="./public/plugins/aos/aos.min.css">
  <link rel="stylesheet" href="./public/css/main.css">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css">
  <link type="text/css" rel="stylesheet" href="./public/css/music.css">
  <link href="./public/summernote/summernote.min.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';" onload="onLoad();">
  <div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header class="site-header site-header--menu-right landing-14-menu site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img src="./public/image/logo/logo.png" alt="" class="light-version-logo" width="270" height="59">
              <!-- Dark version logo (logo must be White)-->
              <img src="./public/image/logo/logo.png" alt="" class="dark-version-logo" width="270" height="59">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item">
                <a href="#" class="nav-link-item"><img alt="History" src="./public/image/button_history.png"
                    width="102" height="30"></a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link-item" data-toggle="modal" data-target="#logoutModal"><img alt="Logout" src="./public/image/button_logout.png"
                    width="68" height="30"></a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- Hero Area -->

    <div class="hero-area-l-14 position-relative z-index-1 overflow-hidden" style="text-align: center;">
      <div class="container">
        <div class="row position-relative justify-content-center">
          <div class="clock" data-aos="fade-left" style="font-family:Futura; text-shadow: 4px 4px #000000; font-size: 120;">
            <div class="hours">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
            <div class="tick">:</div>
            <div class="minutes">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-7 col-lg-5 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div>
              <br>
              <p style="font-family:AppleGothic; font-size: 1.25rem; text-align:center;">Actions speak louder than words!</p>
              <br>
              <a style="background-color: transparent; border-width: 0px;" data-toggle="collapse" href="#collapseTimer" role="button" aria-expanded="false" aria-controls="collapseTimer">
                  <img id="startBtn" alt="Start a tomato" src="./public/image/button_start.png" width="348" height="96" onmouseover="startOver();" onmouseout="startOut();" onclick="startTomato();" ondblclick="startTomato();">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-shape-14"></div>
    </div>

    <div class="collapse" id="collapseTimer">
      <br>
      <br>
      <br>
      <br>
      

      <div class="wrapper">
        <div class="row position-relative justify-content-center" style="width: 50%; margin-left: 25%;">
          <div class="row justify-content-center">
            <div class="circlebar" data-circle-startTime=0 data-circle-dialWidth=10 data-circle-size="200px" data-circle-maxValue="1500" data-circle-skin="purple">
                <div class="loader-bg">
                    <div class="text">00:00</div>
                </div>
            </div>
          </div>
          <div class="row" style="padding-left: 0px; padding-right: 0px;">
            Tomato type:
            <br>
            <input list="hosting-plan" type="text">
            <datalist id="hosting-plan">
                <option value="Reading"/>
                <option value="Working"/>
                <option value="Workout"/>
            </datalist>
          </div>
        </div>
        <div id="summernote" class="position-relative justify-content-center"></div>
        <script>
          $(document).ready(function() {
              $('#summernote').summernote({
                placeholder: 'What do you want to remember in this tomato session?',
                tabsize: 2,
                toolbar: [
                  // [groupName, [list of button]]
                  ['style', ['bold', 'italic', 'underline', 'clear']],
                  ['fontsize', ['fontsize']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']]
                ],
                height: 220,
                focus: true,
              });
          });
        </script>

        <br>
        <br>
        <br>
        <br>

        <div id="app-cover">
          <div id="player">
            <div id="player-track">
              <div id="album-name"></div>
              <div id="track-name"></div>
              <div id="track-time">
                <div id="current-time"></div>
                <div id="track-length"></div>
              </div>
              <div id="s-area">
                <div id="ins-time"></div>
                <div id="s-hover"></div>
                <div id="seek-bar"></div>
              </div>
            </div>
            <div id="player-content">
              <div id="album-art">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_A_Subtle_Reflection_Daniel_Kaede.jpeg?alt=media&token=60eed0ce-c372-4e69-bff5-0c5ee0bcb589" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Youth_Is_Wasted_On_The_Young_Chez%20Remix_Tellow.jpeg?alt=media&token=32fd9a79-e9aa-4490-9794-9773485f5d25" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_The_Hours_dreem.jpeg?alt=media&token=79d32fdf-481d-4049-9e04-4eb13ddc204d" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Spirals_Arden_Forest.jpeg?alt=media&token=76eee0d8-cafe-4e32-ad11-98c66bd8326e" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Singing_Swan_Aleph_One.jpeg?alt=media&token=e11b9027-adfb-49a5-878d-f4f42f0b8d92" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Silver_Rain_Emil_Axelsson.jpeg?alt=media&token=d2746de3-eebf-4177-942e-3acf6a5b385a" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Satellite_of_Love_Brendon_Moeller.jpeg?alt=media&token=20f956a6-3bd1-492b-8c79-ea8848a2723e" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_New_Jade_dreem.jpeg?alt=media&token=33607f99-5595-4fee-a8bf-b302a7225cb6" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Neutra_Chelle_Ives.jpeg?alt=media&token=84669922-c237-4360-afef-bd3f72706773" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Let_There_Be_Rain_Silver_Maple.jpeg?alt=media&token=789062a8-463e-40bb-ac05-bf60defeb0a2" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Late_Arrivals_Lonov.jpeg?alt=media&token=fd73bd6c-11f1-4d39-b0fe-726ec39d26a5" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Lakes_Harbours_Oceans.jpeg?alt=media&token=4cd8eee3-3d65-4bb7-ba89-ac70d50cc055" class="active" id="_1"> 
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Krotos_They_Dream_By_Day.jpeg?alt=media&token=7c8cc492-6879-44a0-b141-288beb60f720" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Dreaming_Wide_Awake_King_Sis.jpeg?alt=media&token=bb2fabc1-edc0-4580-888b-539e2423b3d5" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Copycat_Far_Orange.jpeg?alt=media&token=06dc4d42-caba-4822-8fcf-5374a5977226" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Between_Illusions_Rikard_From.jpeg?alt=media&token=b342c953-932e-4e2e-aeb3-0878cc5d60d0" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Baby_Idk_Rambutan.jpeg?alt=media&token=39785b51-9fc3-4b37-a23f-df73dcc84940" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Avinam_Valante.jpeg?alt=media&token=183a9647-f304-485d-8422-c1a57ccd83a0" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Alike_Jones_Meadow.jpeg?alt=media&token=56ad6c86-588d-493a-ad7d-a4f8c314a9e8" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Abstractions_Aleph_One.jpeg?alt=media&token=8576a2cd-d593-42cc-bb3b-08fefd923518" class="active" id="_1">
                <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_100_Times_Jones_Meadow.jpeg?alt=media&token=3506ed8f-e264-45e0-96c7-5837095261cb" class="active" id="_1">
                <img src="" class="active" id="_1">
                <img src="" class="active" id="_1">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg" class="active" id="_1">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_2.jpg" id="_2">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_3.jpg" id="_3">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_4.jpg" id="_4">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_5.jpg" id="_5">
                <div id="buffer-box">Buffering ...</div>
              </div>
              <div id="player-controls">
                <div class="control">
                  <div class="button" id="play-previous">
                    <i class="fas fa-backward"></i>
                  </div>
                </div>
                <div class="control">
                  <div class="button" id="play-pause-button">
                    <i class="fas fa-play"></i>
                  </div>
                </div>
                <div class="control">
                  <div class="button" id="play-next">
                    <i class="fas fa-forward"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" onclick="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-area-l-12 position-relative" style="text-align:center;">
    </footer>
  </div>
  <!-- Vendor Scripts -->
  <script src="./public/js/vendor.min.js"></script>
  <script src="./public/plugins/aos/aos.min.js"></script>
  <script src="./public/plugins/menu/menu.js"></script>
  <!-- Activation Script -->
  <script src="./public/js/custom.js"></script>
  <script src="./public/js/clock.js"></script>

  <script>
    const firebaseConfig = {
        apiKey: "AIzaSyBe7BVBWqB6znKy7b_UND2nUd09nnUFmEQ",
        authDomain: "etomato-63aac.firebaseapp.com",
        databaseURL: "https://etomato-63aac-default-rtdb.firebaseio.com",
        projectId: "etomato-63aac",
        storageBucket: "etomato-63aac.appspot.com",
        messagingSenderId: "144378496941",
        appId: "1:144378496941:web:dc08de13472e73f14d0324",
        measurementId: "G-7W4Q6GF7JP"
      };
      try {
        firebase.initializeApp(firebaseConfig);
      } catch {
      }
  </script>
  <script>
    function onLoad() {
      firebase.analytics().logEvent('onLoad');
    }

    function startOver() {
      document.getElementById('startBtn').src = "./public/image/button_start_over.png";
      var snd = new Audio("./public/sounds/start_over.mp3");
      snd.play();
      firebase.analytics().logEvent('startOver');
    }
    function startOut() {
      document.getElementById("startBtn").src = "./public/image/button_start.png";
      firebase.analytics().logEvent('startOut');
    }

    function startTomato() {
      document.getElementById("startBtn").src = "./public/image/button_start_pressed.png";
      var snd = new Audio("./public/sounds/start_clicked.mp3");
      snd.play();
      firebase.analytics().logEvent('startTomato');
      $('html, body').animate({
        scrollTop: $('footer').offset().top
      }, 'slow');

      document.getElementById('play-pause-button').click();
    }

    function logout() {
      firebase.analytics().logEvent('logout');
      fetch("./logout", {
        method: "GET",
      })
      .then(response => {
        window.location.href = "./";
      });
      sessionStorage.setItem("_session", "");
    }
  </script>

<script src="./public/js/music.js"></script>
<script src="./public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./public/summernote/summernote.min.js"></script>
<script src="./public/js/circle.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</body>

</html>