<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>eTomato</title>
  <link rel="shortcut icon" href="./public/image/tomato.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="./public/css/bootstrap.css">
  <link rel="stylesheet" href="./public/css/clock.css">
  <link rel="stylesheet" href="./public/fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="./public/fonts/typography-font/typo.css">
  <link rel="stylesheet" href="./public/fonts/fontawesome-5/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="./public/plugins/aos/aos.min.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="./public/css/main.css">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
  <!-- Custom stylesheet -->
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';">
  <div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header class="site-header site-header--menu-right landing-14-menu site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img src="./public/image/logo/logo.png" alt="" class="light-version-logo">
              <!-- Dark version logo (logo must be White)-->
              <img src="./public/image/logo/logo.png" alt="" class="dark-version-logo">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item">
                  <a href="#" class="nav-link-item"><img alt="About" src="./public/image/button_about.png"
                    width=93" height="30"></a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link-item"><img alt="History" src="./public/image/button_history.png"
                    width=102" height="30"></a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link-item" onclick="login(); return false;"><img alt="Login" src="./public/image/button_login.png"
                    width="87" height="30"></a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- Hero Area -->

    <div class="hero-area-l-14 position-relative z-index-1 overflow-hidden">
      <div class="container">
        <div class="row position-relative justify-content-center">

          <div class="clock" data-aos="fade-left" style="font-family:Futura; text-shadow: 4px 4px #000000; font-size: 120;">
            <div class="hours">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
            <div class="tick">:</div>
            <div class="minutes">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-7 col-lg-5 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content" style="text-align:center;">
              <p style="font-family:AppleGothic;">Action speak louder than words!</p>
              <a href="#">
                  <img id="startBtn" alt="Start a tomato" src="./public/image/button_start.png" width="348" height="96" onmouseover="startOver();" onmouseout="startOut();" onclick="startTomato();" ondblclick="startTomato();">
              </a>
            </div>
          </div>
          <!-- <div class="col-xl-7 col-lg-5 col-md-8 " data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="banner-image-l-14">
              <img src="./public/image/l4/hero-img.png" alt="" class="w-100 mt-xl-n10">
            </div>
          </div> -->
        </div>
      </div>
      <div class="bg-shape-14"></div>
    </div>
    
    <footer class="footer-area-l-12 position-relative">
    </footer>
  </div>
  <!-- Vendor Scripts -->
  <script src="./public/js/vendor.min.js"></script>
  <script src="./public/plugins/aos/aos.min.js"></script>
  <script src="./public/plugins/menu/menu.js"></script>
  <!-- Activation Script -->
  <script src="./public/js/custom.js"></script>
  <script src="./public/js/clock.js"></script>

  <script>
    function startOver() {
      document.getElementById('startBtn').src = "./public/image/button_start_over.png";
      var snd = new Audio("./public/sounds/start_over.mp3");
      snd.play();
    }
    function startOut() {
      document.getElementById("startBtn").src = "./public/image/button_start.png";
    }

    function startTomato() {
      document.getElementById("startBtn").src = "./public/image/button_start_pressed.png";
      var snd = new Audio("./public/sounds/start_clicked.mp3");
      snd.play();
    }

    function login() {
      const firebaseConfig = {
        apiKey: "AIzaSyBe7BVBWqB6znKy7b_UND2nUd09nnUFmEQ",
        authDomain: "etomato-63aac.firebaseapp.com",
        databaseURL: "https://etomato-63aac-default-rtdb.firebaseio.com",
        projectId: "etomato-63aac",
        storageBucket: "etomato-63aac.appspot.com",
        messagingSenderId: "144378496941",
        appId: "1:144378496941:web:dc08de13472e73f14d0324",
        measurementId: "G-7W4Q6GF7JP"
      };
      try {
        firebase.initializeApp(firebaseConfig);
      } catch {
      }
      var provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth()
        .signInWithPopup(provider)
        .then((result) => {
          /** @type {firebase.auth.OAuthCredential} */
          var credential = result.credential;

          // This gives you a Google Access Token. You can use it to access the Google API.
          var token = credential.accessToken;

          // The signed-in user info.
          var user = result.user;
          // ...

          var headers = new Headers();
          headers.append('Content-Type', 'application/json');
          headers.append('Accept', 'application/json')
          firebase.auth().currentUser.getIdToken()
          .then((idToken) => {
            return fetch("./sessionLogin", {
                  method: "POST",
                  mode: 'same-origin',
                  redirect: 'follow',
                  credentials: 'include', // Don't forget to specify this if you need cookies
                  header: headers,
                  body: JSON.stringify({ idToken }),
                });
          })
          .catch((error) => {
            // Error occurred.
          });
        })
        .then(function (value) {
            alert('logout')
            return firebase.auth().signOut();
          })
        .then(function (value) {
          window.location.href = "./";
        })
        .catch((error) => {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
    }
  </script>
</body>

</html>