<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body style="background: #010101; padding-left: 30px; padding-bottom: 40px;">
  <br>
  <img style="position: relative; height: 50px; left: 5px;"
    src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/images%2FHeader.png?alt=media&token=9f908660-eaf4-498c-899d-b0a36bc0bf11">
  <h2 style="color: white">Congrats! Someone liked your note.</h2>
  <p style="color: white">👏🏻👏🏻👏🏻</p>

  <table
    style="position: relative; top: 20px; background-color: rgb(114, 127, 132); color: #010101; margin-top: 40px; border-radius: 10px; width: 250px; height: auto; padding-bottom: 5px;">
    <tr>
      <th align="left"><img style="position: relative; border-radius: 50%; display: inline-block" src="{AvatarUrl}"
          width="40px" height="40px" alt="Avatar"></th>
      <th align="right"><label style="font-size: 10px; color: #010101;">{NoteDate}</label></th>
    </tr>

    <tr>
      <td><label
          style="text-align: left;  border-style: solid; border-color: #010101; border-width: 1px; border-radius: 5px">{NoteType}</label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="color: #010101;">{NoteContent}</p>
      </td>
    </tr>
  </table>
  <br>
  <a style="position: relative; top: 20px; left: 45px;" href="https://www.e-tomato.online"><img
      src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/images%2Fopenetmtol.png?alt=media&token=00b0e759-3f28-4020-b017-5e53957dc957"
      width="160px;" height="40px/"></a>

  <br>
</body>

</html>